*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --clr: #020E24;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150vh;
    background: var(--clr);

}

.login {
    width: 325px;
    height: 420px;
    border: 5px solid #000;
    border-radius: 80px 0px 80px 0px;
    color: #fff;
    background-color: rgba(0, 0, 5, 0.8);
    top: 20%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 68px 28px;
    backdrop-filter: blur(5px);
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    
}

.perfil {
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 112px;
}

h1 {
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 20px;
    letter-spacing: 0,5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    

}

.login a {
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    transition: 0.2s;
}

.login a:hover {
    transition: 0.2s;
    color: rgb(0, 5, 77);
    
}

.login p {
    font-weight: bold;
    text-align: justify;
}

.btn{
    padding:7px 5px;
    width:250px;
    color:rgb(14, 1, 1);
    background:rgb(110, 116, 116);
    border:1px solid #555;
    border-radius:5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
   
}

.btn:hover {
    background:#0281f8;
    color:rgb(243, 237, 237);
    transition:background 1s;
       
}

.social p{
    text-align: center;

}